.top {
  width: 500px;
  height: 600px;
  margin: 30px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  line-height: 7;
}

.bottom {
  width: 500px;
  height: 600px;
  margin: 30px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap-reverse;
  position: relative;
  bottom: 634px;
  align-items: flex-start;
  flex-direction: row-reverse;
  text-align: center;
  line-height: 7;
}

.top div:nth-child(1) {
  width: 140px;
  height: 200px;
  border: 1px solid black;
}

.top div:nth-child(2) {
  width: 220px;
  height: 120px;
  border: 1px solid black;
}

.top div:nth-child(3) {
  width: 134px;
  height: 400px;
  border: 1px solid black;
}


.bottom div:nth-child(1) {
  width: 200px;
  height: 100px;
  border: 1px solid black;
 
}

.bottom div:nth-child(2) {
  width: 74px;
  height: 100px;
  border: 1px solid black;

  
}

.bottom div:nth-child(3) {
  width: 140px;
  height: 195px;
  border: 1px solid black;
  position: relative;
  right: 80px;

}
.bottom div:nth-child(4) {
  width: 140px;
  height: 200px;
  border: 1px solid black;
  align-self: flex-end;
  position: relative;
  top: 200px;
  right: 358px
}
